.center-div {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 75vh;
}

#candidateImage {
    height: 250px;
    width: 250px;
    object-fit: cover;
    padding-bottom: 20px;
}

.header {
    color: rgb(0, 0, 0);
    text-align: center;
    font-family: "Open Sans";
    font-size: 75px;
    padding-top: 10%;
}

.voting-container {
    height: 50%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.description-container {
    height: 50%;
    display: flex;
}

.description {
    padding-left: 50px;
    padding-right: 30%;
    padding-top: 40px;
    font-family: courier;
    text-align: justify;
}

.footer-div {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: white;
}

/* ion-content::part(background) {
    background-image: linear-gradient(to right top, yellow);
} */

#icon {
    width: 40px;
    height: 40px;
    border-radius: 50%;
    padding-right: 2%;
    padding-top: 2%;
}

#toolbar {
    height: 65px;
}

#iconMenu {
    padding-right: 5px;
}

#candidateCard {
    border-radius: 5%;
}
